{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
    <div class="container">
        <section class="row">
            <div class="col-12">
                <h1>Panier</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>prix</th>
                            <th>quantité</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for element in data %}
                      
                            <tr>
                                <td>{{element.produit.nom}}</td>
                                <td>{{element.produit.prix}}</td>
                                <td>{{element.quantite}}</td>
                                <td>{{element.quantite * element.produit.prix}} €</td>
                                <td>
                                    <a href="{{path('ajout_panier',{id:element.produit.id})}}"  class= "btn btn-light">+</a>
                                    <a href="{{path('retirer_du_panier',{id:element.produit.id})}}" class= "btn btn-light">-</a>
                                    <a href="{{ path('supprimer_du_panier',{id: element.produit.id})}}" class= "btn btn-danger">Supprimer</a>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="3">Votre panier est vide </td>
                            </tr>
                       {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="3">Total</td>
                            <td>{{ total }} €</td>
                            <td>
                                <a href="{{ path('vider_panier')}}" class="btn btn-danger">Vider panier</a>
                            </td>

                        </tr>
                    </tfoot>
                </table>
                <a href="{{path('ajout_commande')}}" class="btn btn-dark">Valider le panier</a>
            </div>
        </section>
    </div>
{% endblock %}
