{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
    <div class="container">
        <section class="row">
            <div class="col-12">
                <h1>Panier</h1>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Produit</th>
                            <th>prix</th>
                            <th>quantité</th>
                            <th>Total</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for element in data %}
                      
                            <tr>
                                <td>{{element.produit.nom}}</td>
                                <td>{{element.produit.prix}}</td>
                                <td>{{element.quantite}}</td>
                                <td>{{element.quantite * element.produit.prix}} €</td>
                                <td>
                                    <a href="#"  class= "btn btn-success">+</a>
                                    <a href="#" class= "btn btn-warning">-</a>
                                    <a href="#" class= "btn btn-primary">Supprimer</a>
                                </td>
                            </tr>
                            {% else %}
                            <tr>
                                <td colspan="3">Votre panier est vide </td>
                            </tr>
                       {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td></td>
                        </tr>
                    </tfoot>
                </table>
                <div>
                  
                
                    {# <p>ToTAL de la commande :  {{element.totalCommande}} </p> #}
                </div> 
            </div>
        </section>
    </div>
{% endblock %}
