{% extends 'base.html.twig' %}

{% block title %}Hello PanierController!{% endblock %}

{% block body %}
<div class="conteneur-principal">
    <section>
        <h1>Panier</h1>

        {% if data is empty %}
            <p>Votre panier est vide</p>
        {% else %}
            <div class="panier-cards">
                {% for element in data %}
                <div class="produit-card">
                    <img src="{{ asset('img/' ~ element.produit.imageName) }}" alt="{{ element.produit.nom }}" class="produit-image">
                    <div class="produit-info">
                        <h2><a href="{{ path('produit_detail', {id: element.produit.id}) }}">{{ element.produit.nom }}</a></h2>
                        <p>Prix unitaire : <span class="prix">{{ element.prixUnitaire|number_format(2, '.', ',') }} €</span></p>
                        <p>Quantité : <span class="quantite">{{ element.quantite }}</span></p>
                        <p>Total : <span class="total">{{ (element.prixUnitaire * element.quantite)|number_format(2, '.', ',') }} €</span></p>
                        <div class="actions">
                            <a href="{{ path('ajout_panier', { id: element.produit.id }) }}" class="btn">+</a>
                            <a href="{{ path('retirer_du_panier', { id: element.produit.id }) }}" class="btn">-</a>
                            <a href="{{ path('supprimer_du_panier', { id: element.produit.id }) }}" class="btn ">Supprimer</a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="total-panier">
            <p>Total du panier : <strong>{{ total |number_format(2, '.', ',')}} €</strong></p>
            <a href="{{ path('vider_panier') }}" class="btn btn-danger">Vider le panier</a>
            <a href="{{ path('ajout_commande') }}" class="btn btn-dark">Valider le panier</a>
        </div>
    </section>
</div>
{% endblock %}
