{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

<div class="image-hero">
    <div class="superposition-hero">
        <div class="contenu-hero">
            <h1>Bienvenue sur notre site de cosmétiques</h1>
            <p>Découvrez nos produits exceptionnels et offrez-vous un moment de beauté</p>
            <a href="{{ path('app_login') }}" class="btn btn-primaire">Se connecter</a>
        </div>
    </div>
</div>

        {# <img src="{{ asset('img/grandeAccueil.jpg') }}" alt="chogan accueil">; #}


<div class="categories-produits">
    <a href="{{ path('produits_par_categorie', { id: 1 }) }}" class="item">
        <img src="{{ asset('img/parfum.jpg') }}" alt="Parfum">
        <span>Parfum</span>
    </a>
    <a href="{{ path('produits_par_categorie', { id: 2 }) }}" class="item-categorie">
        <img src="{{ asset('img/cheveux.jpg') }}" alt="Soins cheveux">
        <span>Soins cheveux</span>
    </a>
    <a href="{{ path('produits_par_categorie', { id: 3 }) }}" class="item-categorie">
        <img src="{{ asset('img/visage.jpg') }}" alt="Soins visage">
        <span>Soins visage</span>
    </a>
    <a href="{{ path('produits_par_categorie', { id: 4 }) }}" class="item-categorie">
        <img src="{{ asset('img/solaire.jpg') }}" alt="solaire">
        <span>Solaire</span>
    </a>
    <a href="{{ path('produits_par_categorie', { id: 5 }) }}" class="item-categorie">
        <img src="{{ asset('img/maquillage.jpg') }}" alt="Maquillage">
        <span>Maquillage</span>
    </a>
</div>

<strong><p>Tendance</p></strong><br>

<div class="tendance-section">
    {% for produit in produits %}
        <div class="card-tendance">
            <div class="card-produit">
                <img src="{{ asset('img/' ~ produit.imageName) }}" class="image-produit" alt="Image de {{ produit.nom }}">
                <div class="contenu-card">
                    <div class="text-produit">
                        <h5 class="titre-produit"><a href="{{ path('produit_detail', {'id': produit.id}) }}">{{ produit.nom }}</a></h5>
                        {% if produit.reduction %}
                            <p class="texte-produit">
                                <span>{{ produit.prix }} €</span><br>
                                <span>{{ produit.prix - (produit.prix * produit.reduction / 100) }} €</span>
                                <span>{{ produit.reduction }}% de réduction</span>
                            </p>
                        {% endif %}
                    </div>

                    <div class="ajouter-actions">
                        <a href="#"><img src="{{ asset('img/panierAdd.png') }}" alt="Ajouter au panier"></a>&nbsp;
                        <a href="#"><img src="{{ asset('img/coeurAdd.png') }}" alt="Ajouter aux favoris"></a>&nbsp;
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}
