{% extends 'base.html.twig' %}

{% block title %}Détails du Produit{% endblock %}
{% block body %}
<div class="containerDetailProduit">
    
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
    
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    
    <div class="categories">
        <a href="{{ path('produits_par_categorie', { id: 1 }) }}" class="categorie-item">
            <img src="{{ asset('img/parfum.jpg') }}" alt="Parfum">
            <span>Parfum</span>
        </a>
        <a href="{{ path('produits_par_categorie', { id: 2 }) }}" class="categorie-item">
            <img src="{{ asset('img/cheveux.jpg') }}" alt="Soins cheveux">
            <span>Soins cheveux</span>
        </a>
        <a href="{{ path('produits_par_categorie', { id: 3 }) }}" class="categorie-item">
            <img src="{{ asset('img/visage.jpg') }}" alt="Soins visage">
            <span>Soins visage</span>
        </a>
        <a href="{{ path('produits_par_categorie', { id: 4 }) }}" class="categorie-item">
            <img src="{{ asset('img/solaire.jpg') }}" alt="Solaire">
            <span>Solaire</span>
        </a>
        <a href="{{ path('produits_par_categorie', { id: 5 }) }}" class="categorie-item">
            <img src="{{ asset('img/maquillage.jpg') }}" alt="Maquillage">
            <span>Maquillage</span>
        </a>
    </div>
    

    <div class="detailProduit mt-4">
        <div class="card_detail-produit">
            <div class="imgDetailProduit">
                <img src="{{ produit.image }}" class="card-img-top" alt="Image de {{ produit.nom }}">
            </div>
            <div class="card-detail">
                <h1>{{ produit.nom }}</h1>
                {% if produit.reduction %}
                    <p class="card-text"><strong>Prix : <br></strong>

                        <span style="text-decoration: line-through;">{{ produit.prix }} €</span><br>
                        <span class="prix-reduit">{{ produit.prix - (produit.prix * produit.reduction / 100) }} €</span>
                        <span class="badge bg-success">{{ produit.reduction }}% de réduction</span>
                    </p>
                {% endif %}
                <p><strong>Référence:</strong> {{ produit.reference }}</p>
                
                <div class="add-to-cart">
                    <a href="{{path('ajout_panier', {id : produit.id})}}" class="btnDetailProduit-panier">Ajouter au panier</a>
                    <a href="#" class="btnDetailProduit-favoris">
                        <img src="{{asset('img/coeurVide.png')}}" alt="Favoris"> Ajouter favoris
                    </a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="description-detailProduit">
        <div class="description">
            <p class="card-text">Description :<br> <br>{{ produit.description }}</p>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni modi animi obcaecati sapiente explicabo? Pariatur nam doloribus quo eos.</p>
            <p class="card-text">Taille : Lorem, ipsum dolor.</p>

    </div>

    <div class="commentaires-detailProduit">
        <h5>Commentaires</h5>

        {% if commentaires is empty %}
            <p>Aucun commentaire pour ce produit.</p>
        {% else %}
            <ul>
                {% for commentaire in commentaires %}
                    <li>
                        <strong>{{ commentaire.user.nom }} :</strong>
                        {{ commentaire.texte }} <br>
                        <em>Note : {{ commentaire.noteProduit }}/5</em> <br>
                        <em>date : {{ commentaire.date | date("d/m/Y H:i") }}</em> <br>
                        {% if commentaire.photoProduit %}
                            <img src="{{ asset('uploads/' ~ commentaire.photoProduit) }}" alt="Image du commentaire" style="max-width: 200px;">
                        {% endif %}
                        <div>
                            <a href="{{ path('supprimer_commentaire', {id: produit.id, idCommentaire : commentaire.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce commentaire ?');">
                                Supprimer le commentaire
                            </a>
                        </div>
                    
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
            <a  class="btn btn-dark" href="{{path('ajout_commentaire',{id: produit.id})}}">Ajouter un commentaire </a>
    </div>
</div>
{% endblock %}
