{% extends 'base.html.twig' %}

{% block title %}Détails du Produit{% endblock %}

{% block body %}
<div class="containerDetailProduit">

    
<div class="categories">
    <a href="{{ path('produits_par_categorie', { id: 1 }) }}" class="category-item">
        <img src="{{ asset('img/accueil.jpg') }}" alt="Parfum">
        <span>Parfum</span>
    </a>
    <a href="{{ path('produits_par_categorie', { id: 2 }) }}" class="category-item">
        <img src="{{ asset('img/accueil.jpg') }}" alt="Soins cheveux">
        <span>Soins cheveux</span>
    </a>
    <a href="{{ path('produits_par_categorie', { id: 3 }) }}" class="category-item">
        <img src="{{ asset('img/accueil.jpg') }}" alt="Soins visage">
        <span>Soins visage</span>
    </a>
    <a href="{{ path('produits_par_categorie', { id: 4 }) }}" class="category-item">
        <img src="{{ asset('img/accueil.jpg') }}" alt="solaire">
        <span>Soins visage</span>
    </a>
    <a href="{{ path('produits_par_categorie', { id: 5 }) }}" class="category-item">
        <img src="{{ asset('img/accueil.jpg') }}" alt="Maquillage">
        <span>Maquillage></span>
    </a>
</div>

    <div class="detailProduit mt-4">
        <div class="card_detail-produit">
            <div class="imgDetailProduit">
                <img src="{{ produit.image }}" class="card-img-top" alt="Image de {{ produit.nom }}">
            </div>
            <div class="card-detail">
                <h1>{{ produit.nom }}</h1>
                {% if produit.reduction %}
                    <p class="card-text"><strong>Prix : <br></strong>

                        <span style="text-decoration: line-through;">{{ produit.prix }} €</span><br>
                        <span class="prix-reduit">{{ produit.prix - (produit.prix * produit.reduction / 100) }} €</span>
                        <span class="badge bg-success">{{ produit.reduction }}% de réduction</span>
                    </p>
                {% endif %}
                <p><strong>Référence:</strong> {{ produit.reference }}</p>
                
                <div class="add-to-cart">
                    <a href="#" class="btnDetailProduit-panier">Ajouter au panier</a>
                    <a href="#" class="btnDetailProduit-favoris">
                        <img src="{{asset('img/coeurVide.png')}}" alt="Favoris"> Ajouter favoris
                    </a>
                </div>
                
            </div>
        </div>
    </div>
    <div class="description-detailProduit">
        <div class="description">
            <p class="card-text">Description :<br> <br>{{ produit.description }}</p>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni modi animi obcaecati sapiente explicabo? Pariatur nam doloribus quo eos.</p>
            <p class="card-text">Taille : Lorem, ipsum dolor.</p>

    </div>

    <div class="commentaires-detailProduit">
    <p>Commentaires :</p> 
        <div class="commentaire">
            {# <p class="card-text">commentaire : {{ produit.commentaire.texte }}</p> #}
            <p class="card-text">commentaire : Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quae perferendis ad unde ipsam, suscipit exercitationem.</p>
            <p class="card-text">Note : </p>
        </div>

    </div>
</div>
{% endblock %}
