{% extends 'base.html.twig' %}

{% block title %}Produits par Catégorie{% endblock %}

{% block body %}

<div class="conteneur conteneur-principal"> 
    <h1>{{ categorie.nom }}</h1>

    {% if produits is empty %}
        <p>Aucun produit disponible pour cette catégorie.</p>
    {% else %}
    <div class="tendance-section">
        {% for produit in produits %}
            <div class="card-tendance">
                <div class="card-produit">
                    <img src="{{ asset('img/' ~ produit.imageName) }}" class="image-produit" alt="Image de {{ produit.nom }}">
                    <div class="contenu-card">
                        <div class="text-produit">
                            <h5 class="titre-produit"><a href="{{ path('produit_detail', {'id': produit.id}) }}">{{ produit.nom }}</a></h5>
                            {% if produit.reduction %}
                                <p class="texte-produit">
                                    <span class="prix-original">{{ produit.prix }} €</span>
                                    <span class="prix-reduit">{{ (produit.prix - (produit.prix * produit.reduction / 100)) | number_format(2, '.', ',') }} €</span>                                    <span class="badge-reduction">{{ produit.reduction }}% de réduction</span>
                                </p>
                            {% else %}
                                <p class="texte-produit">{{ produit.prix }} €</p>
                            {% endif %}
                        </div>

                        <div class="ajouter-actions">
                            <a href="{{path('ajout_panier', {id : produit.id})}}"><img src="{{ asset('img/panierAdd.png') }}" alt="Ajouter au panier"></a>&nbsp;
                            <a href="{{ path('ajout_favoris', {produitId: produit.id})}}"><img src="{{ asset('img/coeurAdd.png') }}" alt="Ajouter aux favoris"></a>&nbsp;
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

    </div>   
        <div class="pagination">
            {{ knp_pagination_render(produits) }}
        </div>
</div>
{% endif %}
{% endblock %}
