{% extends 'base.html.twig' %}

{% block title %}Ajouter un commentaire{% endblock %}

{% block body %}
    <h1>Commenter le produit : {{ produit.nom }}</h1>

    {{ form_start(form) }}
        {{ form_row(form.texte, {'label': 'Votre commentaire'}) }}
        {{ form_row(form.noteProduit, {'label': 'Note (de 1 à 5)'}) }}
        {{ form_row(form.photoProduit, {'label': 'Joindre une photo (facultatif)'}) }}
        <button class="btn btn-primary">Envoyer</button>
    {{ form_end(form) }}

{% endblock %}
