

<h2>Détails de la commande :</h2>
<ul>
    {% for detail in commande.detailCommandes %}
        <li>
            {{ detail.produit.nom }} - Quantité : {{ detail.quantite }} - Prix : {{ detail.produit.prix * detail.quantite }} €
        </li>
    {% endfor %}
</ul>

<a href="{{ path('paiment_stripe', {'refCommande': commande.refCommande}) }}">Payer</a>

<p>Total : {{ commande.prixTotal }} €</p>
